<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>airchecknasa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A2739A8C1EBF0B6700728FCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2739AA01EBF0B6800728FCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2739AAB1EBF0B6800728FCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
